* {
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.aboutme-container {
  background-image: linear-gradient(90deg, #eaeaea 97%, transparent);
  border-radius: 2rem;
  padding: 2rem;
  flex: 1 1 0;
}

.aboutme-heading {
  margin: 1rem;
  text-align: center;
  font-size: 4rem;
  font-family: fantasy;
  color: dimgrey;
  margin-top: 0;
}

.aboutme-profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  filter: brightness(120%);
}

.separator {
  background-image: linear-gradient(180deg, transparent, #dedede, transparent);
  height: 100%;
  width: 1rem;
}

.details-container {
  background-image: linear-gradient(-90deg, #eaeaea 97%, transparent);
  border-radius: 2rem;
  padding: 2rem;
  flex: 1 1 0;
}